body {
  font-family: Sans-Serif;
}

div#container {
   border-style: solid;
   border-width: 1px;
   border-color: #eee;
   margin: 10px;
}

div#counters {
   font-size: 36px;
   float: left;
   height: 180px;
   margin-top: 20px;
   margin-bottom: 20px;
}

div#controls {
   font-size: 24px;
   float: right;
   height: 180px;
   margin: 20px;
   text-align: left;
}



#p_SI, #p_IR, #p_SI_ld, #p_IR_ld, #p_N {
 width: 75px;
 padding: 3px;
 font-size: 16px;
 border: 1px solid #aaa;
}

#p_R0, #p_R0_ld {
    width: 60px;
    padding: 3px;
    font-size: 16px;
    border: 1px solid #aaa;
}

span#susceptible {
	color: #00f;
    font-size: 14px;
}

span#infectious {
	color: #f00;
    font-size: 14px;
}

span#recovered {
	color: #0f0;
    font-size: 14px;
}

span#count_S, span#count_I, span#count_R {
   font-size: 48px;
   font-weight: bold;
}

div#graph-layout {
   height: 500px;
   margin: 20px;
   background: #fafafa;
   border-style: solid;
   border-width: 1px;
   border-color: #eee;
   clear: both;
   position: relative;
}

div#epicurves {
   width: 600px;
   height: 400px;
   background: #fff;
   margin: 20px;
   float: left;
}

circle.node {
  stroke: #000;
  stroke-width: 1.5px;
  fill: #ff0;
}

line.link {
  stroke: #333;
  stroke-opacity: .75;
  stroke-width: 1.5px;
}

div#graph-control {
   position: absolute;
   top: 0px;
   width: 100%;
   pointer-events: none;
}

span#start-text {
  font-size: 28px;
  text-align: left;
  float: left;
  color: #666;
  padding: 10px;
}

button#reset-button, button#start-button, button#stop-button, button#continue-button {
  float: left;
  font-size: 28px;
  color: #666;
  pointer-events: all;
}

select#country2 {
    font-size: 16px;
}

div#credits {
   text-align: right;
   font-size: 14px;
   padding: 5px;
}

